:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  min-height: 100vh;
  min-width:100vh;
  box-sizing: border-box;
  background-color: #1a1a1a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.site-footer {
  background-color: #0e0e0e;
  color: #8996a0;
  padding-bottom: 64px;
  padding-top: 64px;
  position: relative;
  z-index: 2;
}

.l-container {
  padding-left: 72px;
  padding-right: 72px;
}

.site-footer__row--navigation {
  justify-content: center;
}

.site-footer__row--navigation {
  margin: 0 auto;
  max-width: 848px;
  width: 100%;
}

.site-footer__row {
  display: flex;
  flex-direction: column;
}

.site-footer__row {
  flex-direction: row;
}


.site-footer__menu-col {
  padding-bottom: 48px;
  width: 33.33%;
}
.site-footer__menu-heading {
  color: #f3f4f4;
  font-family: GT America Standard Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 16px;
  text-align: center;
}
.site-footer__nav {

}

.site-footer__copyright, .site-footer__copyright--below-logo {
  font-size: 16px;
  justify-content: flex-start;
  order: 1;
  width: 33.33%;
}

.site-footer__social {
  justify-content: flex-end;
  order: 3;
  padding-bottom: 0;
  padding-top: 0;
  width: 33.33%;
}

.social-follow__list {
  display: flex
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
